{{#each devices}}
<div class="col-md-4">
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <p>Name: {{name}}</p>
            <span>{{location}}</span>
        </div>
    </div>
</div>
{{/each}}