{{#each user}}
<div class="col-md-4">
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <p>Name: {{username}}</p>
            <span>{{email}}</span>
        </div>
    </div>
</div>
{{/each}}